.color1 {
    background-color:rgba(255, 99, 71, 0);
}

.color2 {
    background-color:rgba(255, 99, 71, 0.2);
}

.color3 {
    background-color:rgba(255, 99, 71, 0.6);
}

.color4 {
    background-color:rgba(255, 99, 71, 1);
}